sources/Workflows/ApprovalsV2-053631F2-74BC-EB11-BACC-000D3A2D9CA4.json
{
  "properties": {
    "connectionReferences": {
      "shared_office365users": {
        "runtimeSource": "invoker",
        "connection": {},
        "api": {
          "name": "shared_office365users"
        }
      },
      "shared_approvals": {
        "runtimeSource": "invoker",
        "connection": {},
        "api": {
          "name": "shared_approvals"
        }
      },
      "shared_office365": {
        "runtimeSource": "invoker",
        "connection": {},
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_flowpush": {
        "runtimeSource": "invoker",
        "connection": {},
        "api": {
          "name": "shared_flowpush"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "boolean": {
                  "title": "Sanitary rules",
                  "type": "boolean",
                  "x-ms-dynamically-added": true,
                  "description": "Are Sanitary rules applied ? ",
                  "x-ms-content-hint": "BOOLEAN"
                },
                "email": {
                  "title": "Requestor",
                  "type": "string",
                  "format": "email",
                  "x-ms-dynamically-added": true,
                  "description": "UPN of the requestor (email)",
                  "x-ms-content-hint": "EMAIL"
                },
                "text": {
                  "title": "Reason",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Reason for the request",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "Approval Type",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Type  of the approval (depending on the type of visit requested)",
                  "x-ms-content-hint": "TEXT",
                  "enum": [
                    "Campus",
                    "Consulting",
                    "Sales"
                  ]
                },
                "date": {
                  "title": "Visit Date",
                  "type": "string",
                  "format": "date",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter or select a date (YYYY-MM-DD)",
                  "x-ms-content-hint": "DATE"
                },
                "text_2": {
                  "title": "Justification",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Justification of the visit",
                  "x-ms-content-hint": "TEXT"
                },
                "email_1": {
                  "title": "Approval Manager",
                  "type": "string",
                  "format": "email",
                  "x-ms-dynamically-added": true,
                  "description": "The email address of the manager that needs to approve the request",
                  "x-ms-content-hint": "EMAIL"
                }
              },
              "required": [
                "boolean",
                "email",
                "text",
                "text_1",
                "date",
                "text_2",
                "email_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Sanitary_rules": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Sanitary rules",
                "type": "boolean",
                "value": "@triggerBody()['boolean']"
              }
            ]
          }
        },
        "Requestor": {
          "runAfter": {
            "Sanitary_rules": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Requestor",
                "type": "string",
                "value": "@triggerBody()['email']"
              }
            ]
          }
        },
        "Reason": {
          "runAfter": {
            "Requestor": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Reason",
                "type": "string",
                "value": "@triggerBody()['text']"
              }
            ]
          }
        },
        "Approval_Type": {
          "runAfter": {
            "Reason": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Approval Type",
                "type": "string",
                "value": "@triggerBody()['text_1']"
              }
            ]
          }
        },
        "Visit_Date": {
          "runAfter": {
            "Approval_Type": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Visit Date",
                "type": "string",
                "value": "@triggerBody()['date']"
              }
            ]
          }
        },
        "Justification": {
          "runAfter": {
            "Visit_Date": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Justification",
                "type": "string",
                "value": "@triggerBody()['text_2']"
              }
            ]
          }
        },
        "Approval_Manager": {
          "runAfter": {
            "Justification": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Approval Manager",
                "type": "string",
                "value": "@triggerBody()['email_1']"
              }
            ]
          }
        },
        "Approval_ID": {
          "runAfter": {
            "Approval_Manager": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Approval ID",
                "type": "string"
              }
            ]
          }
        },
        "Scope": {
          "actions": {
            "Get_manager_(V2)": {
              "runAfter": {},
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365users",
                  "operationId": "Manager_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
                },
                "parameters": {
                  "id": "@variables('Requestor')"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Switch": {
              "runAfter": {
                "Get_manager_(V2)": [
                  "Succeeded"
                ]
              },
              "cases": {
                "Sales": {
                  "case": "Sales",
                  "actions": {
                    "Customer_Sales_approval": {
                      "runAfter": {},
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_approvals",
                          "operationId": "CreateAnApproval",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
                        },
                        "parameters": {
                          "approvalType": "Basic",
                          "ApprovalCreationInput/title": "Visit a customer or partner (non consulting)",
                          "ApprovalCreationInput/assignedTo": "@{variables('Approval Manager')};@{outputs('Get_manager_(V2)')?['body/userPrincipalName']};",
                          "ApprovalCreationInput/details": "Visit date : @{variables('Visit Date')}\nJustification : @{variables('Justification')}\nRespect of sanitary rules: @{variables('Sanitary rules')}",
                          "ApprovalCreationInput/enableNotifications": true,
                          "ApprovalCreationInput/enableReassignment": true
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_approval_ID_to_Sales": {
                      "runAfter": {
                        "Customer_Sales_approval": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Approval ID",
                        "value": "@outputs('Customer_Sales_approval')?['body/name']"
                      }
                    }
                  }
                },
                "Consulting": {
                  "case": "Consulting",
                  "actions": {
                    "Customer_Consulting_Approval": {
                      "runAfter": {},
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_approvals",
                          "operationId": "CreateAnApproval",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
                        },
                        "parameters": {
                          "approvalType": "Basic",
                          "ApprovalCreationInput/title": "Work at a customer site (Consulting)",
                          "ApprovalCreationInput/assignedTo": "@{variables('Approval Manager')};@{outputs('Get_manager_(V2)')?['body/userPrincipalName']};",
                          "ApprovalCreationInput/details": "Visit date : @{variables('Visit Date')}\nJustification : @{variables('Justification')}\nRespect of sanitary rules: @{variables('Sanitary rules')}",
                          "ApprovalCreationInput/enableNotifications": true,
                          "ApprovalCreationInput/enableReassignment": true
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_approval_ID_to_Consulting": {
                      "runAfter": {
                        "Customer_Consulting_Approval": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Approval ID",
                        "value": "@outputs('Customer_Consulting_Approval')?['body/name']"
                      }
                    }
                  }
                },
                "Campus": {
                  "case": "Campus",
                  "actions": {
                    "Create_an_approval": {
                      "runAfter": {},
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_approvals",
                          "operationId": "CreateAnApproval",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
                        },
                        "parameters": {
                          "approvalType": "Basic",
                          "ApprovalCreationInput/title": "Work in the office",
                          "ApprovalCreationInput/assignedTo": "@{variables('Approval Manager')}; @{outputs('Get_manager_(V2)')?['body/userPrincipalName']};",
                          "ApprovalCreationInput/details": "Visit date : @{variables('Visit Date')}\nJustification : @{variables('Justification')}\nReason : @{variables('Reason')}",
                          "ApprovalCreationInput/enableNotifications": true,
                          "ApprovalCreationInput/enableReassignment": true
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_approval_ID_to_Campus": {
                      "runAfter": {
                        "Create_an_approval": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Approval ID",
                        "value": "@outputs('Create_an_approval')?['body/name']"
                      }
                    }
                  }
                }
              },
              "default": {
                "actions": {
                  "Terminate": {
                    "runAfter": {},
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Failed",
                      "runError": {
                        "message": "Unknown Approval type"
                      }
                    }
                  }
                }
              },
              "expression": "@variables('Approval Type')",
              "type": "Switch"
            },
            "Wait_for_an_approval": {
              "runAfter": {
                "Switch": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connectionName": "shared_approvals",
                  "operationId": "WaitForAnApproval",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
                },
                "parameters": {
                  "approvalName": "@variables('Approval ID')"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Condition": {
              "actions": {
                "Apply_to_each": {
                  "foreach": "@outputs('Wait_for_an_approval')?['body/responses']",
                  "actions": {
                    "Send_an_email_(V2)": {
                      "runAfter": {},
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_office365",
                          "operationId": "SendEmailV2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                        },
                        "parameters": {
                          "emailMessage/To": "@variables('Requestor')",
                          "emailMessage/Subject": "✅ [HYBRID WORK] - Request approved",
                          "emailMessage/Body": "<div style=\"text-align: center; font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;\">\n<p>\n<h3>This is your one-day certificate for manager approval</h3>\n<img src=\"https://frhybridwork.blob.core.windows.net/images/approved.png\" alt=\"certificateimage\"  width=\"158\" height=\"158\"></p>\n<h1>@{variables('Visit Date')}</h1>\n<p>Certificate ID:@{outputs('Wait_for_an_approval')?['body/name']}<br>\n</p>\n<p>Date &amp; Time: @{outputs('Wait_for_an_approval')?['body/completionDate']}<br>\n</p>\n<p>@{items('Apply_to_each')?['responder/displayName']} has approved your request to @{outputs('Wait_for_an_approval')?['body/title']}<br>\n</p>\n<p><strong>Justification :</strong>@{variables('Justification')}<br>\n</p>\n<p><strong>Comments: </strong>@{items('Apply_to_each')?['comments']}<br>\n</p>\n<p>Please be ready to show this certificate if requested.<br>\n</p>\n<p>Important: This certificate is only valid for the calendar date indicated. If you have questions or concerns about use of this certificate, please contact your manager or the HR team<br>\n</p>\n</div>",
                          "emailMessage/Cc": "@{variables('Approval Manager')};@{items('Apply_to_each')?['responder/email']};@{outputs('Get_manager_(V2)')?['body/userPrincipalName']}"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Wait_for_an_approval": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Apply_to_each_2": {
                    "foreach": "@outputs('Wait_for_an_approval')?['body/responses']",
                    "actions": {
                      "Send_an_email_(V2)_2": {
                        "runAfter": {},
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_office365",
                            "operationId": "SendEmailV2",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                          },
                          "parameters": {
                            "emailMessage/To": "@variables('Requestor')",
                            "emailMessage/Subject": "⛔ [HYBRID WORK] - Request rejected",
                            "emailMessage/Body": "<div style=\"text-align: center; font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;\">\n<p>\n<h3>Your request to @{outputs('Wait_for_an_approval')?['body/title']} on the @{variables('Visit Date')} as rejected by @{items('Apply_to_each_2')?['responder/displayName']}</h3>\n<img src=\"https://frhybridwork.blob.core.windows.net/images/forbidden.png\" alt=\"certificateimage\"  width=\"158\" height=\"158\"></p>\n<h1>@{variables('Visit Date')}</h1>\n<p>Certificate ID:@{outputs('Wait_for_an_approval')?['body/name']}<br>\n</p>\n<p>Date &amp; Time: @{outputs('Wait_for_an_approval')?['body/completionDate']}<br>\n</p>\n<p> @{items('Apply_to_each_2')?['responder/displayName']} has rejected your request to @{outputs('Wait_for_an_approval')?['body/title']}<br>\n</p>\n<p><strong>Justification :</strong>@{variables('Justification')}<br>\n</p>\n<p><strong>Comments: </strong> @{items('Apply_to_each_2')?['comments']} <br>\n</p>\n<p>Important:  If you have questions or concerns about use of this certificate, please contact your manager or the HR team<br>\n</p>\n</div>",
                            "emailMessage/Cc": "@{variables('Approval Manager')};@{items('Apply_to_each_2')?['responder/email']};@{outputs('Get_manager_(V2)')?['body/userPrincipalName']}"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    },
                    "runAfter": {},
                    "type": "Foreach"
                  }
                }
              },
              "expression": {
                "equals": [
                  "@outputs('Wait_for_an_approval')?['body/outcome']",
                  "Approve"
                ]
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Approval_ID": [
              "Succeeded"
            ]
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {
            "Send_me_an_email_notification": {
              "runAfter": {},
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_flowpush",
                  "operationId": "SendEmailNotification",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_flowpush"
                },
                "parameters": {
                  "NotificationEmailDefinition/notificationSubject": "Technical Error : Approval for Covid visit failed",
                  "NotificationEmailDefinition/notificationBody": "There was a technical issue during the approval of your request. Please contact your manager directly to get this approval, while we investigate the issue."
                },
                "authentication": "@parameters('$authentication')"
              },
              "description": "Sends a notification to the user that triggered the flow"
            }
          },
          "runAfter": {
            "Scope": [
              "Failed",
              "Skipped"
            ]
          },
          "type": "Scope"
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}